# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Temporary files
*.tmp
*.temp
data/tmp/*

# Keep vector stores but ignore specific files
data/vector_stores/*.zip
data/vector_stores/tmp/
data/pretrained_vector_store/tmp/

# Other
.DS_Store
Thumbs.db 